@import 'bootstrap/dist/css/bootstrap';

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}


.btn {
    color:darkorange
}

.jumbotron{
    background-image: asset-url('brownslogowhite.jpeg');
    background-position: center center;
    background-size: cover; 
	background-repeat: no-repeat; 
}

.jumboletters{
    color:rgb(243, 84, 21)
}

.jumbotron2{
    background-image: asset-url('browns.uni.jpeg');
    background-position: center center;
    background-size: cover; 
	background-repeat: no-repeat; 
}
